@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;
  background-color: #ffffff00;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
